@import 'reset'
@import 'variables'
@import '~vue-context/src/sass/vue-context'
@import '~vue-multiselect/dist/vue-multiselect.min.css'
@import '~swiper/swiper-bundle.css'

@import 'swiper'
body
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

h1
  font-size: 1.75rem
  font-weight: 100
  line-height: 1
  margin-bottom: 1rem

*
  -webkit-font-smoothing: subpixel-antialiased
  text-rendering: geometricPrecision

:root
  --primary-color: #{$primary}

.application
  -webkit-user-select: none
  &.theme--light
    --blockColorLighter: #{lighten($themeLightMain, 7%)}
    --blockColorLight: #{lighten($themeLightMain, 3%)}
    --blockColorGlass: rgba(255,255,255,0.6)
    --blockColor: #{$themeLightMain}
    --blockColorDark: #{darken($themeLightMain, 3%)}
    --blockColorDarker: #{darken($themeLightMain, 7%)}
    --blockColorInvert: #{darken($themeLightMain, 7%)}
    --buttonHover: #{darken($themeLightMain, 7%)}
    --textColor: #{$black}
    --scrollColor: #666666
  &.theme--dark
    --blockColorLighter: #{lighten($themeDarkMain, 10%)}
    --blockColorLight: #{lighten($themeDarkMain, 5%)}
    --blockColorGlass: rgba(0,0,0,0.6)
    --blockColor: #{$themeDarkMain}
    --blockColorDark: #{darken($themeDarkMain, 5%)}
    --blockColorDarker: #{darken($themeDarkMain, 10%)}
    --blockColorInvert: #{lighten($themeDarkMain, 10%)}
    --buttonHover: #{lighten($themeDarkMain, 10%)}
    --textColor: #{$white}
    --scrollColor: #aaaaaa
  &__main
    position: relative
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    grid-area: Main
  &__content
    height: calc(100vh - 88px)
    overflow-y: auto
    &--lg
      height: calc(100vh - 2rem)
  &--linux, &--mac, &--fullscreen
    .application
      &__main
        background-color: var(--blockColor)
      &__content
        background-color: var(--blockColorDark)
        margin-top: 3rem
        height: calc(100vh - 3rem)
        &--lg
          margin-top: 0
          height: 100vh
      &__sidebar
        height: calc(100vh - 3rem)
// UI
@import 'UI/badge'
@import 'UI/button'
@import 'UI/card'
@import 'UI/context'
@import 'UI/commentary'
@import 'UI/header'
@import 'UI/input'
@import 'UI/label'
@import 'UI/layout'
@import 'UI/modal'
@import 'UI/paginator'
@import 'UI/sidebar'
@import 'UI/slider'
@import 'UI/switch'

@import 'UI/utils'

// Pages
@import 'Pages/home'
@import 'Pages/models'

// RTL fixes
@import 'rtl'
@import 'transitions'
