.v-ul
    display: flex
    flex-direction: column
    margin: 0
    padding: 0
    &.no-dots
        list-style: none
.v-application .v-ul
    padding: 0
.v-card
    .v-title-dark
        display: flex
        flex-wrap: nowrap
        align-items: flex-end
        justify-content: space-around
        background: linear-gradient(to bottom, rgba(0,0,0,0) 10%, #424242 99%)
        padding: 0.5rem 1rem
        margin: -1rem -1rem -0.5rem
        width: calc(100% + 2rem)
        height: calc(100% + 1.5rem)
        .v-avatar
            margin-bottom: 0.25rem
.v-btn
    &.text-left
        .v-btn__content
            justify-content: flex-start
    &.btn-avatar
        .v-btn__content
            .v-avatar
                margin-right: 1rem
                margin-left: -1rem