.favorites
  &__grid
    display: grid
    grid-template-columns: repeat(auto-fit, 256px)
    grid-auto-rows: 1fr
    grid-gap: 1rem
    padding: 1rem
  &__empty
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    color: var(--textColor)
    padding-bottom: 10rem
    .icon
      width: 30rem
      height: 30rem
      margin-bottom: -3rem
      filter: contrast(0.2) brightness(1.8)
      &--inverted
        filter: contrast(0.2) brightness(0.6)

.favorite
  display: flex
  flex-direction: column
  position: relative
  &__image
    width: 256px
    flex: 0 0 256px
    transition: all 0.15s ease
    object-fit: cover
    object-position: center
    aspect-ratio: 1/1
  &__integration
    position: absolute
    right: 1rem
    top: 1rem
    width: 3rem
    padding: 0.5rem
  &__title
    margin: 1rem 0 0
    font-size: 1rem
    font-weight: 600
    text-align: center
  &__date
    position: absolute
    top: calc(256px - 1.5rem)
    left: 0
    width: 100%
    display: flex
    align-items: center
    background: var(--blockColorDarker)
    .icon
      width: 1.5rem
  .button
    position: absolute
    top: 1rem
    left: 1rem
  &:focus
    outline: 2px solid $primary
    .favorite__image
      outline: none
      filter: brightness(0.7) saturate(0.5)
