.button
  padding: 0.5rem 2rem
  border-radius: 2rem
  text-transform: uppercase
  letter-spacing: 1px
  transition: all 0.3s ease
  color: $white
  &--primary
    background-color: $primary
    &:hover
      background-color: darken($primary, 20%)
  &--danger
    background-color: $danger
    &:hover
      background-color: darken($danger, 20%)
