.button
  padding: 0.5rem 2rem
  border-radius: 0.125rem
  color: $white
  font-size: 1rem
  font-weight: 100
  &:disabled
    cursor: not-allowed
    background-color: var(--buttonHover)
    &:hover
      background-color: var(--buttonHover)
  &--primary
    background-color: $primary
    &:hover
      background-color: darken($primary, 20%)
  &--danger
    background-color: $danger
    &:hover
      background-color: darken($danger, 20%)
  &--flat
    border-radius: 0
    text-transform: none
    letter-spacing: 0
    display: flex
    align-items: center
    padding: 0.625rem
    border: 2px solid rgba(0,0,0,0)
    color: var(--textColor)
    .icon
      width: 1.5rem
      height: 1.5rem
    &:focus
      outline: 0
    &:hover, &.active
      border: 2px solid var(--buttonHover)
      background-color: var(--buttonHover)
    &-danger
      background-color: darken($danger, 30%)
      .icon, .icon--inverted
        filter: invert(1)
      &:hover
        border-color: $danger
        background-color: $danger
  &--grid
    position: relative
    color: var(--textColor)
    display: flex
    width: 100%
    align-items: center
    text-transform: uppercase
    padding: 0 0 0 2rem
    border-radius: 0
    font-size: 1.5rem
    font-weight: 700
    min-height: 4rem
    letter-spacing: 0.125rem
    &:after
      content: ''
      display: block
      width: 100%
      height: 0.25rem
      background-color: var(--buttonHover)
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
    span
      display: block
      background-color: var(--blockColorDark)
      padding: 0 1rem
      z-index: 1
    .icon
      width: 2rem
      height: 2rem
      &__wrapper
        position: relative
        z-index: 1
        height: 2rem
        padding: 0rem 1rem
        background-color: var(--blockColorDark)
    .button
      position: relative
      z-index: 1
      background-color: var(--blockColorDark)
