.application__header
  position: relative
  grid-area: Header
  display: flex
  align-items: flex-end
  background-color: $themeDarkMain
  color: $white
  height: 6rem
  padding-left: 1rem
  padding-bottom: 0.75rem
  .filter-field
    margin: 0 0.5rem
  &:after
    content: ''
    top: 6px
    left: 6px
    display: block
    position: absolute
    width: calc(100% - 144px)
    height: calc(100% - 64px)
    z-index: -1
    -webkit-app-region: drag
  &-logo
    display: block
    width: 3rem
    height: 3rem
    margin-right: 1rem
  &-buttons
    -webkit-app-region: no-drag
  &-navigation
    -webkit-app-region: no-drag
    display: flex
    align-items: center
    flex: 0 0 100%
    margin-top: 0.85rem
    .breadcrumbs
      flex: 1 5 50%
      background-color: lighten($themeDarkMain, 10%)
      padding: 0.75rem 1rem
      border-radius: 0.125rem
      text-align: center
      margin: 0 0.5rem
      min-height: 3rem
    .buttons
      display: flex
      align-items: center
      button
        display: flex
        align-items: center
        margin-right: 0.5rem
        padding: 0.75rem
        border: 2px solid lighten($themeDarkMain, 10%)
        color: $white
        .svg-inline--fa
          width: 1.25rem
          height: 1.25rem
        &:last-child
          margin-right: 0
        &:focus
          outline: 0
        &:hover, &.active
          background-color: lighten($themeDarkMain, 10%)
.application--windows
  .application__header
    &-navigation
      flex: 0 0 calc(100% - (64px))
      margin-right: - 46px * 4
    &-buttons
      display: grid
      grid-template-columns: repeat(3, 46px)
      align-self: flex-start
      margin-left: auto
      button
        grid-row: 1 / span 1
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 100%
        font-family: "Segoe MDL2 Assets"
        font-size: 10px
        -webkit-appearance: none
        transition: all 0.25s ease
        border: none
        background: none
        padding: 0.625rem 0
        svg
          fill: $white
        &:hover
          background-color: lighten($themeDarkMain, 10%)
        &:focus
          outline: none
      .close
        &:hover
          background-color: $red
