.input
  display: block
  width: 100%
  border: 2px solid var(--buttonHover)
  padding: 0.625rem 1rem
  transition: all 0.3s ease
  color: var(--textColor)
  &:focus
    outline: 0
    border-color: $primary
  &.invalid
    border-color: $danger
  &-group
    display: flex
    flex-wrap: wrap
    align-items: center
    margin-top: 1rem
    label
      flex: 1 0 30%
      margin-inline-end: 1rem
    .input
      flex: 1 1 calc(70% - 1rem)
      max-width: 490px
    .input--select
      width: calc(70% - 1rem)
      .input
        width: 100%
    .input--color.vc-chrome
      width: calc(70% - 1rem)
      .vc-chrome-saturation-wrap
        padding-bottom: 30%
    .input--file
      width: calc(70% - 1rem)
    &--column
      align-items: flex-start
      flex-direction: column
      label
        margin-inline-end: 0
        margin-bottom: 1rem
  &--select
    position: relative
    overflow: hidden
    .input
      cursor: pointer
    .icon
      position: absolute
      inset-inline-end: 1rem
      top: 0.75rem
      display: block
      width: 1.5rem
      height: 1.5rem
      transform: rotate(90deg)
    option
      background-color: var(--blockColor)
  &--file
    text-align: left
    span
      display: block
      white-space: nowrap
      overflow: hidden
      -webkit-mask-image: linear-gradient(to right, rgba(255,255,255,255) 90%, rgba(255,255,255,0))
    .placeholder
      color: rgb(117, 117, 117)
    &[disabled="disabled"]
      color: rgb(117, 117, 117)
      cursor: not-allowed
  &__message
    flex: 1 0 100%
    line-height: 1
    min-height: 1rem
    margin-top: 0.5rem
    text-align: right
    color: $danger
  &--color
    padding: 0
    &::-webkit-color-swatch-wrapper
      padding: 0
    &.vc-chrome
      box-shadow: none
      border-radius: 0
      width: 15rem
      .vc-chrome-body
        background-color: var(--blockColorDark)
      .vc-chrome-saturation-wrap
        border-radius: 0
        padding-bottom: 50%
      .vc-chrome-fields-wrap
        display: none
      .vc-chrome-hue-wrap
        height: 30px
        margin-bottom: 0
        .vc-hue-picker
          background-color: $primary
          width: 8px
          height: 32px
          box-shadow: none
      .vc-chrome-alpha-wrap
        display: none
.filter-field
  &--search
    position: relative
    display: flex
    align-items: center
    .icon
      display: block
      flex: 1 0 1.5rem
      width: 1.5rem
      height: 1.5rem
      object-fit: cover
    .decor
      pointer-events: none
      position: absolute
      inset-inline-start: 0.5rem
    .clear
      position: absolute
      inset-inline-end: 0.5rem
    .input
      padding: 0.625rem 2.5rem
      width: 10rem
      ::-webkit-input-placeholder
        word-wrap: none
      &:focus
        width: 20rem

.multiselect
  color: var(--textColor)
  &__tags
    width: 100%
    border: 2px solid var(--buttonHover)
    padding: 0.625rem 1rem
    background: none
    border-radius: 0
    transition: all 0.3s ease
    color: var(--textColor)
    font-size: 1rem
  &__single
    background: none
    margin: 0.25rem 0 0 0
    padding: 0
  &__select
    height: 48px
  &__content-wrapper
    border-radius: 0
    background-color: var(--blockColor)
    border: 2px solid var(--buttonHover)
    &::-webkit-scrollbar
      width: 0.125rem
    &::-webkit-scrollbar-thumb
      width: 100%
      background-color: var(--scrollColor)
  &__option
    &--highlight, &:after, &--selected
      color: $white
      background-color: $primary
