.input
  display: block
  width: 100%
  border: 2px solid var(--blockColorDarker)
  padding: 0.625rem 1rem
  transition: all 0.3s ease
  color: var(--textColor)
  &:focus
    outline: 0
    border-color: $primary
  &-group
    display: flex
    flex-wrap: wrap
    align-items: center
    margin-top: 1rem
    label
      flex: 1 0 30%
      margin-right: 1rem
    .input
      flex: 1 1 calc(70% - 1rem)
    .input--select
      flex: 1 1 calc(70% - 1rem)
  &--select
    position: relative
    overflow: hidden
    .input
      cursor: pointer
    .icon
      position: absolute
      right: 1rem
      top: 0.75rem
      display: block
      width: 1.5rem
      height: 1.5rem
      transform: rotate(90deg)
    option
      background-color: var(--blockColor)
  &--file
    text-align: left
    .placeholder
      color: rgb(117, 117, 117)
  &__message
    flex: 1 0 100%
    padding: 0.5rem 0
    text-align: right
    color: $danger
.filter-field
  &--search
    position: relative
    display: flex
    align-items: center
    .icon
      display: block
      flex: 1 0 1.5rem
      width: 1.5rem
      height: 1.5rem
      object-fit: cover
    .decor
      pointer-events: none
      position: absolute
      left: 0.5rem
    .clear
      position: absolute
      right: 0.5rem
    .input
      padding: 0.625rem 2.5rem
      width: 10rem
      ::-webkit-input-placeholder
        word-wrap: none
      &:focus
        width: 20rem
